// Styling for the home page

.indexHeader {
  background-color: $yellow;
  position: relative;
  h1 {
    font-size: 14rem;
    color: darken($grey, 15);
    line-height: 92px;
    margin-left: 25px;
  }
  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    div:last-child {
      position: relative;
      top: 80px;
      box-shadow: 20px 20px lighten($smoke, 100);
    }
  }
  .circular {
    flex-grow: 1;
    position: relative;
    text-transform: uppercase;
    img {
      width: initial;
      position: absolute;
      bottom: 60px;
      left: -35px;
    }
  }
}

.about,
.info,
.journey,
.gallery {
  padding: 100px 0px;
}

.about {
  background-color: $smoke;
  .textContainer:first-child {
    padding: 25px 0px;
  }
  p {
    width: 90%;
  }
}

// card section, the hardest section to work on
.cards .wrapper {
  margin: 0px;
}
.things {
  position: relative;
  top: -25px;
  margin-bottom: 50px;
  .red {
    background-color: $red;
  }
  .white {
    background-color: #ffffff;
    z-index: -1;
  }
  .bgContainer {
    top: -25px;
    left: -25px;
    box-shadow: 25px 25px $red;
    background: url(../assets/home-image-2.jpg) no-repeat center;
  }
  .textContainer {
    position: relative;
    top: 25px;
    margin: 0 auto;
    padding-left: 100px;
    margin-top: 75px;
  }
}

.travelled {
  position: relative;
  bottom: -25px;
  .yellow {
    background-color: $yellow;
    order: 2;
    position: relative;
    bottom: -25px;
  }
  .bgContainer {
    order: 1;
    box-shadow: 25px 25px $yellow;
    right: -25px;
    z-index: 1;
    background: url(../assets/home-image-3.jpg) no-repeat center;
  }
  .textContainer {
    text-align: right;
    padding-right: 100px;
    margin-bottom: 75px;
  }
}

.things,
.travelled {
  .side {
    flex-grow: 1;
  }
  .textContainer {
    width: 48%;
  }
  .bgContainer {
    width: 52%;
    position: relative;
    background-size: cover;
  }
}

// info section

.info {
  background-color: $smoke;
  padding-bottom: 0px;
  h2 {
    padding-left: 20px;
  }
  p {
    margin-left: 70px;
  }
  .flexContainer {
    flex-wrap: wrap;
    padding-top: 25px;
    align-items: center;
  }
  .wrapper.flexContainer {
    justify-content: space-between;
  }
  .card {
    display: flex;
    width: 48%;
    padding-top: 25px;
    i {
      background-color: $yellow;
      border-radius: 50%;
      padding: 15px;
      height: 50px;
    }
  }
  .bg {
    background-image: url(../assets/home-image-4.jpg);
    height: 500px;
    margin-top: 50px;
  }
}

// journey

.journey {
  background-color: $smoke;
  .flexContainer {
    justify-content: space-between;
    align-items: center;
  }
  .imageContainer {
    background-color: $yellow;
    position: relative;
    bottom: -25px;
    width: 25%;
  }
  img {
    position: relative;
    top: -20px;
    left: -20px;
  }
  h2 {
    padding-top: 10px;
  }
  .textContainer {
    width: 65%;
  }
}

// gallery styling

.gallery {
  .flexContainer {
    justify-content: space-between;
  }
  .imageContainer {
    width: 31%;
    border: 3px solid #ffffff;
  }
  .imageContainer:hover {
    border: 3px solid $red;
  }
}

@media (max-width: 1024px) {
  .indexHeader {
    h1 {
      font-size: 10rem;
    }
  }

  .things,
  .travelled {
    position: initial;
    margin-bottom: 0px;
    .side {
      display: none;
    }
    .wrapper {
      width: 100%;
    }
    .flexContainer {
      flex-direction: column;
    }
    .bgContainer {
      width: 100%;
      height: 400px;
      position: initial;
      box-shadow: none;
      order: 0;
    }
    .textContainer {
      width: 90%;
      margin: 0 auto;
      position: initial;
      padding: 100px 0px;
    }
    .yellow {
      position: initial;
    }
  }

  .info {
    padding-top: 0px;
    .bg {
      margin: 0px;
    }
  }
  .cards {
    .textContainer {
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .indexHeader {
    h1 {
      font-size: 8rem;
      margin: 0px;
    }
    .circular {
      margin-top: 100px;
      img {
        width: 100px;
      }
    }
    .content {
      flex-direction: column;
      div:last-child {
        width: 60%;
        box-shadow: none;
        position: initial;
        width: initial;
        padding-bottom: 50px;
      }
    }
  }
  .about {
    padding: 50px 0px;
    .textContainer {
      text-align: center;
    }
    p {
      width: 100%;
    }
  }

  .info {
    padding-top: 50px;
    .flexContainer {
      flex-direction: column;
      padding: 0px;
    }
    .card {
      width: 100%;
    }
    .textContainer {
      text-align: center;
      .flexContainer {
        flex-direction: row;
        justify-content: center;
      }
    }
    p {
      margin-left: 0px;
    }
  }

  .journey {
    padding: 75px 0px;
    .flexContainer {
      flex-direction: column;
    }
    .imageContainer {
      width: initial;
      bottom: 0px;
      right: -12.5px;
    }
    .textContainer {
      padding-top: 25px;
      width: 100%;
      text-align: center;
    }
  }

  .gallery {
    padding: 50px 0px;
    .flexContainer {
      flex-direction: column;
      align-items: center;
    }
    .imageContainer {
      width: initial;
      margin-top: 25px;
    }
    .imageContainer:first-child {
      margin-top: 0px;
    }
  }
}

@media (max-width: 480px) {
  .indexHeader {
    h1 {
      font-size: 6rem;
    }
    .circular {
      img {
        width: 80px;
        left: -25px;
        bottom: 50px;
      }
    }
    .content {
      flex-direction: column;
      div:last-child {
        width: 60%;
        box-shadow: none;
        position: initial;
        width: initial;
        padding-bottom: 50px;
      }
    }
  }

  .info {
    .card {
      .flexContainer {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
